@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: rgb(244, 234, 255);
  font-family: "Roboto", sans-serif;
}
header {
  text-align: center;
  padding: 32px;
}
h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
  margin: 32px 0;
}
header img {
  width: 300px;
}
